    .badge-postupil{
      background-color: LightSkyBlue;
    }

    .badge-vrabote {
      background-color: MediumSlateBlue;
    }

    .badge-convertirovan {
      background-color: MediumBlue;
    }

    .badge-udalen {
      background-color: Gray;
    }

    .bd-navbar {
      background-color: #7952b3;
      padding-right: 0px;
      font-weight: 400;
      
    }
